.main
{
	background:#f5f5f5;
}
.heading
{
	margin-top:60px;
	margin:10px;
	font-weight:bold
	
	
}
.active
{
	color:#062D66;
}
.menu{
	padding:1px;
}
.side
{
	background:black;
	height:50px;
	
}
.side_main
{
	position :absolute;
	color:white;
	text-align:center;
	font-size:18px;
	padding-left:10px;
	padding-top:15px;
	margin-left:150px;
	
}
.navbar-nav>li>a 
{
   margin-right:30px;
	
}
.travel
{
	border:0px solid;
	padding:4px;
	margin:6px;
	margin-top:10px;
}
.travel >a
{
	color:#888;
	border:1px solid;
	padding:4px;
	border-radius:4px;
	margin:2px;
	
}
.travel > a:hover
{
	text-decoration:none;
	background:black;
	color:white;
	
}	
.footer
{
	background:black;
	height:35px;
	color:white;  
}
	.side
{
	background:black;
	height:50px;
	
}

.post_main
{
	position :absolute;
	color:white;
	background:black;
	margin-left:600px;
	height:40px;
	margin-top:0px;
	line-height:25px;
	padding:10px;

}
.post_main > span
{
	font-weight:bold;
	color:white;
	font-size:17px;
}
.search_main
{
	position :absolute;
	color:white;
	background:black;
	margin-left:600px;
	height:40px;
	margin-top:0px;
	line-height:25px;
	padding:10px;

}
.search_main > span
{
	font-weight:bold;
	color:white;
	font-size:17px;
}
.btn-blue{
	background:green;
	color:black;  
	
	